// this is a preproduction css file meant only to highlight certain HTML elements during development

// please remove this @import from app.scss before taking the CSS to production

.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
}
.row.display .columns, .row.display .column {
  background: #e7e7e7;
  border: 1px solid #ddd;
  font-size: 13px;
  font-weight: bold;
  text-indent: 3px;
  padding-top: 8px;
  color: #444;
  padding-bottom: 8px;
}