// list existing tabs in a h-scrolling container

.wx-layout-tablist {
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;

  .wx-tab {
    display: inline-block;
    background: green;
    margin-right: 1.25em;
  }
}