.wx-footer {

  p, li, a {
      font-size: 13px;
      line-height: 21px;
  }
  .wx-icon {
      font-weight: 300;
      margin-bottom: 1.5em;
  }
  .copyright,
  .wx-inline-links,
  .wx-social-links {
    text-align: center;
  }

  .wx-social-links {
    margin-bottom: 25px;
    a {
      margin-left: 10px;
    }
  }
  .wx-inline-links {
    margin:  0;
    a:first-child {
      margin-left: 0;
      padding-left: 0;
    }
    a {
      margin-left: 6px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      padding: 3px 6px;
    }
  }
}

#wx-footer-top {
  padding-top: 40px;
  padding-bottom: 40px;
}

#wx-footer-bottom {
  padding-top: 24px;
  padding-bottom: 10px;
}

.wx-footer-logo {
  font-weight: bold;
}


@media #{$small} {
  .wx-footer {
    .copyright {
      text-align: left;
    }
    .wx-inline-links {
      text-align: left;
    }
    .wx-social-links {
      text-align: center;
    }
  }

}