/*
 * imgAreaSelect default style
 */

#appbuilder .imgareaselect-border1 {
	background: url(border-v.gif) repeat-y left top;
}

#appbuilder .imgareaselect-border2 {
    background: url(border-h.gif) repeat-x left top;
}

#appbuilder .imgareaselect-border3 {
    background: url(border-v.gif) repeat-y right top;
}

#appbuilder .imgareaselect-border4 {
    background: url(border-h.gif) repeat-x left bottom;
}

#appbuilder .imgareaselect-border1, #appbuilder .imgareaselect-border2,
#appbuilder .imgareaselect-border3, #appbuilder .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

#appbuilder .imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#appbuilder .imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#appbuilder .imgareaselect-selection {  
}